<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>

    <title>The Projector</title>

    <link rel='icon' type='image/png' href='/favicon.png'>
    <link rel='stylesheet' href="@Url.Content("~/css/global.css")">
    <link rel='stylesheet' href="@Url.Content("~/css/site.css")">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono" />
    <!-- head styles -->
    @RenderSection("headStyles", required: false)
    <!-- head scripts -->
    @RenderSection("headScripts", required: false)

</head>

<body>
    <script>
        window.appOptions = {
            getAuthentications: '/api/auth',
            getProjects: '/api/projects',
            getPeople: '/api/people',
            environment: '@Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")'
        };
    </script>
        @RenderBody()
</body>

</html>
